<div class="adicionar" id="adicionaLivro">
    <form [formGroup]="form">

        <legend>Editar livro</legend>
        <table id="tabela" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" id="titulo" name="titulo" formControlName="titulo"></td>
                    <td><input type="text" id="descr" name="descr" formControlName="descr"></td>
                    <td><input type="text" id="autor" name="autor" formControlName="autor"></td>
                    <td><input type="text" id="editora" name="editora" formControlName="editora"></td>
                    
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">Confirmar Edição <br>
                        <button type="submit" (click)="onEditar(emEdicao.id)" routerLink="/"><i
                                class="fa-solid fa-check"></i></button>&nbsp;
                        <button routerLink="/"><i class="fa-solid fa-x"></i></button></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>