<div class="adicionar" id="adicionaLivro">
    <form action="#" method="post">
        <fieldset>
                <ul><legend><h2>ADICONAR LIVRO</h2></legend>
            <label for="nomeLivro" id="labelNome">Nome:</label>
            <input type="text" id="nomeLivro" name="nome">
            <br></ul>
            <ul><label for="autorLivro" id="labelAutor">Autor:</label>
            <input type="text" id="autorLivro" name="autor">
            <br></ul>
            <ul><label for="editoraLivro" id="labelEditora">Editora:</label>
            <input type="text" id="editoraLivro" name="editora">
            <br></ul>
            <ul><label for="nomeLivro" id="labelDescr">Descrição:</label>
            <input type="text" id="nomeLivro" name="descricao">
            <br></ul>
            <input type="button" value="Adicionar Livro">
        </fieldset>
    </form> 
</div>
