<div class="adicionar" id="adicionaLivro">
    <form action="#" method="post">

        <legend>Excluir livro</legend>
        <table id="tabela" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Titulo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editora</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" id="nomeLivro" name="nome"></td>
                    <td><input type="text" id="descrLivro" name="descricao"></td>
                    <td><input type="text" id="autorLivro" name="autor"></td>
                    <td><input type="text" id="editoraLivro" name="editora"></td>
                    <td>
                        <button routerLink="/"><i class="fa-solid fa-trash"></i></button>
                        <button routerLink="/"><i class="fa-solid fa-x"></i></button>
                    </td>
                </tr>
            </tbody>
            <tfoot>Total de livros: </tfoot>
        </table>
    </form>
</div>